.background {
  position: relative;
}

.header-container {
  align-items: center;
}

.myTasks {
  display: inline-block;
  font-size: clamp(0.8rem, 1.5rem, 1.8rem);
}

.newTask {
  display: none;
}

.burger {
  width: 30px;
  height: 25px;
}

.newTasksContainer {
  margin-top: 11%;
}

.task {
  margin: 5% 0;
  min-height: 40px;
}

.completedContainer {
  margin-top: 10%;
}

.completedTitle {
  margin-bottom: 4%;
  font-size: 18px;
}

.addTaskContainer {
  display: flex;
  justify-content: flex-end;
}

.addTask {
  width: 55px;
  height: 55px;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: -2px -3px 7px var(--lighterShadow),
    3px 3px 8px var(--darkerShadow);
}

.addTask:hover {
  cursor: pointer;
}

.addTask-img {
  width: 45%;
}

.modal {
  display: none;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: var(--lighterShadow);
  margin: 15% auto;
  border-radius: 20px;

  width: 75%;
  height: 30%;
}

.modalForm {
  background-color: var(--darkGrey);
  width: 60%;
  height: 20%;
  margin-top: 12%;
}

.closeBtn {
  display: block;
  padding: 2px;
  height: auto;
  width: 10%;
  margin-left: 60%;
  margin-top: 5%;
  background-color: var(--greyBlue);
  border-radius: 50px;
}

.completed-title {
  margin-bottom: 4%;
}

.circle {
  height: 7px;
  width: 7px;
  margin: 0 20px;
}
