.header-container {
  align-items: flex-end;
}

.task {
  min-height: 51px;
}

.completedTitle {
  margin-bottom: 4%;
}

@media (max-width: 600px) {
  .background {
    position: relative;
  }

  .myTasks {
    display: inline-block;
    font-size: clamp(1.5rem, 2rem, 2.5rem);
  }

  .newTask {
    display: none;
  }

  .burger {
    width: 40px;
    height: 30px;
  }

  .newTasksContainer {
    margin-top: 10%;
  }

  .task {
    margin: 4% 0;
  }

  .completedContainer {
    margin-top: 10%;
  }

  .addTaskContainer {
    display: flex;
    justify-content: flex-end;
  }

  .addTask {
    width: 55px;
    height: 55px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: -2px -3px 7px var(--lighterShadow),
      3px 3px 8px var(--darkerShadow);
  }

  .addTask:hover {
    cursor: pointer;
  }

  .addTask-img {
    width: 4 5%;
  }

  .openModal {
    display: block;
  }
  .closeModal {
    display: none;
  }

  .modal {
    display: none;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modalContent {
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: var(--lighterShadow);
    margin: 15% auto;
    border-radius: 20px;

    width: 75%;
    height: 30%;
  }

  .modalForm {
    background-color: var(--darkGrey);
    width: 60%;
    height: 20%;
    margin-top: 10%;
  }

  .closeBtn {
    display: block;
    padding: 2px;
    height: auto;
    width: 10%;
    margin-left: 60%;
    margin-top: 5%;
    background-color: var(--greyBlue);
    border-radius: 50px;
  }
}

@media (min-width: 601px) {
  .app {
    margin: 6% auto;
  }

  .newTask {
    display: inline-block;
    width: 55%;
    margin-left: 22%;
  }

  .input-new-task {
    height: 59px;
    font-size: clamp(1rem, 1.4rem, 2rem);
  }

  .newTask-Text {
    font-size: clamp(1rem, 1.2rem, 1.5rem);
  }

  .burger {
    width: 40px;
    height: 29px;
  }

  .newTasksContainer {
    grid-template-columns: 47% 47%;
    column-gap: 5%;
    margin-top: 8%;
  }

  .task {
    margin: 5% 7%;
  }

  .completedContainer {
    grid-template-columns: 47% 47%;
    column-gap: 5%;
    margin-top: 5%;
  }

  .completedTitle {
    margin-left: 3%;
    margin-bottom: 3%;
  }

  .modalForm {
    display: none;
  }
}
